POSTGRES_DB=parcial_db
POSTGRES_USER=parcial_user
POSTGRES_PASSWORD=Parcial2026

JOOMLA_DB_NAME=parcial_db
JOOMLA_DB_USER=parcial_user
JOOMLA_DB_PASSWORD=Parcial2026

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

JUPYTER_TOKEN=parcial2026

